//=================================================================
//         ❗❗ Ce fichier sert à tout mettre à 0 ❗❗
//=================================================================
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
*,
*::before,
*::after {
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Raleway', sans-serif;
  background-color: $L_black_15;
  width: 100%;
  height: 100dvh;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: $sunrise;
}
h1 {
  font-weight: 900;
}
