@use 'sass:color';

$black: black;
$white: white;
$white60op: color.scale($white, $alpha: -60%);
$black60op: color.scale($black, $alpha: -60%);
$darkGray: color.adjust($black, $lightness: 5%);
$lightGray: color.adjust($black, $lightness: 15%);
$lighterGray: color.adjust($black, $lightness: 25%);
$sunrise: #ffa600;
$transitionTime: 0.3s;
$doubleTransitionTime: calc($transitionTime * 2);
$mobile: 800px;
$navHeight: 120px;
$skillsPadding: 16px;
$skillsGap: 8px;
$skillsCardsPadding: 28px;
$red: red;
