.intro {
  height: 100dvh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  justify-self: center;

  width: 100%;

  h1 {
    text-align: center;
    font-size: 3rem;
    color: $white;

    span {
      background: linear-gradient(135deg, $sunrise, $red);
      -webkit-background-clip: text;
      background-clip: text;
      color: transparent;
      -webkit-text-fill-color: transparent;
    }
  }
  :nth-child(2) {
    color: $white;
    opacity: 50%;
  }
}
@media (min-width: $mobile) {
  .intro {
    h1 {
      font-size: 5rem;
    }
    p {
      font-size: 2rem;
    }
  }
}
