@mixin card($color, $bgColor) {
	color: $color;
	background-color: $bgColor;
	padding: 32px;
	border-radius: 16px;
	width: 100%;
}

.loading {
	@include card($white, $white90op);
}
.error {
	@include card($red, $red90op);
}
