$navHeight: 75px;
.nav {
  position: relative;
  display: grid;
  justify-items: center;

  &__logo {
    transition: ease var(--transitionTime);
    position: fixed;
    z-index: 1000;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;

    background-color: var(--darkGray);

    cursor: pointer;
    height: $navHeight;
    width: 100%;
    border-radius: 0 0 0.25rem 0.25rem;
    &:hover {
      background-color: var(--black);
    }
    span {
      width: 50px;
      height: 7px;
      background-color: var(--sunrise);
      border-radius: 2px;
    }
  }

  &__trigger {
    position: fixed;
    &:checked {
      ~ .nav__navMobile {
        transform: translateY(0);
        transition: ease var(--transitionTime);
      }
    }
  }
  &__navMobile {
    position: fixed;
    z-index: 999;
    top: $navHeight;
    transform: translateY(-100%);
    background-color: var(--black60op);
    backdrop-filter: blur(20px);
    display: grid;
    width: 100%;
    border-radius: 0 0 2rem 2rem;
    box-shadow: inset 0 0px 10px 3px var(--lightGray), 0 0 16px 1px var(--black);
    a {
      display: flex;
      justify-content: center;
      color: var(--sunrise);
      padding: 1rem;
      font-size: 2rem;
      font-weight: 600;
    }
    li:last-child a {
      border-radius: 0 0 2rem 2rem;
    }

    a:hover {
      backdrop-filter: blur(50px);
    }
  }
}

.hidden {
  display: none;
}
