.nav {
	position: relative;
	display: flex;
	justify-content: center;

	/**
  * Desktop ⏬⏬⏬
  */
	&__navDesktop {
		//Display flex dans le media en bas de page
		position: fixed;
		z-index: 1000;
		top: 2rem;
		height: $navHeight;
		background-color: #00000013;
		width: 85%;
		justify-content: center;
		padding: 1rem;
		border-radius: 1rem;
		backdrop-filter: blur(4px);
		box-shadow: 0 0 2px 0px $black;

		li {
			width: 100%;
			display: flex;
			justify-content: center;
			&:first-child a {
				border-radius: 1rem 0 0 1rem;
			}
			&:last-child a {
				border-radius: 0 1rem 1rem 0;
			}
		}
		a {
			transition: all 0.3s ease-out;
			display: flex;
			justify-content: center;
			align-items: center;
			width: 100%;
			backdrop-filter: blur(8px);
			background-color: rgba(0, 0, 0, 0.396);
			color: $sunrise;
			// font-size: 2rem;
			font-size: 1.6rem;

			font-weight: 900;

			&:hover {
				backdrop-filter: blur(16px);
				// transform: translateY(3px);
				background-color: rgba(47, 47, 47, 0.611);
			}
		}
	}
	/**
  * Mobile ⏬⏬⏬
  */
	&__logo {
		transition: ease $transitionTime;
		position: fixed;
		z-index: 1000;

		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		gap: 0.5rem;

		background-color: $darkGray;

		cursor: pointer;
		height: $navHeightMobile;
		width: 100%;
		border-radius: 0 0 0.25rem 0.25rem;
		&:hover {
			background-color: $black;
		}
		span {
			width: 50px;
			height: 7px;
			background-color: $sunrise;
			border-radius: 2px;
		}
	}

	&__trigger {
		position: fixed;
		&:checked {
			~ .nav__navMobile {
				transform: translateY(0);
				transition: ease $transitionTime;
			}
		}
	}
	&__navMobile {
		position: fixed;
		z-index: 999;
		top: $navHeightMobile;
		transform: translateY(-100%);
		background-color: $black60op;
		backdrop-filter: blur(20px);
		display: grid;
		width: 100%;
		border-radius: 0 0 2rem 2rem;
		box-shadow: inset 0 0px 10px 3px $lightGray, 0 0 16px 1px $black;
		a {
			display: flex;
			justify-content: center;
			color: $sunrise;
			padding: 1rem;
			font-size: 2rem;
			font-weight: 600;
		}
		li:last-child a {
			border-radius: 0 0 2rem 2rem;
		}

		a:hover {
			backdrop-filter: blur(50px);
		}
	}
}

@media (min-width: $mobile) {
	.nav__navMobile,
	.nav__trigger,
	.nav__logo {
		display: none;
	}
	.nav__navDesktop {
		display: flex;
	}
}
@media (max-width: $mobile) {
	.nav__navDesktop {
		display: none;
	}
}
.hidden {
	display: none;
}
