.projects {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  width: 100%;
  padding: 1rem;

  h1 {
    color: $sunrise;
    margin-block: 1rem;
    font-size: 3rem;
    text-align: center;
    width: 100%;
  }
  &__cards {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: max-content;
    gap: 1rem;
  }
  &__card {
    position: relative;
    z-index: 100;

    text-decoration: none;
    background-color: $black;
    box-shadow: 0 0 7px 1px $OP_black_60;

    border-radius: 1rem;

    display: flex;
    flex-direction: column;
    width: auto;
    min-width: 150px;
    width: 100%;
    max-width: 550px;
    max-height: 650px;
  }
  &__title {
    transition: all $transitionTime ease-out;
    display: flex;
    justify-content: start;
    align-items: end;
    height: 230px;
    width: 100%;
    position: absolute;
    z-index: 15;
    padding: 1rem;
    text-shadow: 0 0 5px $black, 0 0 5px $black, 0 0 10px $black, 0 0 15px $black;
    color: $OP_white_20;
    &:hover {
      backdrop-filter: blur(8px);
    }
  }
  &__divScreen {
    position: relative;
    z-index: 1;
    border-radius: 1rem 1rem 0 0;
    height: 230px;
    overflow: hidden;
  }
  &__screen {
    width: 100%;
    height: 230px;
    aspect-ratio: 1 / 0.5;
  }

  &__description {
    font-weight: 500;
    font-size: 1.1rem;
    color: $OP_white_60;
    width: 100%;
    min-height: 100px;
    justify-self: center;
    text-align: justify;
    padding: 16px;
  }

  &__skills {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: 1rem;
    margin: 1rem;
    padding-block: 1rem;
    box-shadow: inset 0 0 3px 0 $OP_white_60, 0 0 5px 1px $black;
    border-radius: 1rem;
    background-color: $OP_white_60;
  }
  &__skillsImg {
    width: 48px;
  }

  &__githubLogo {
    position: relative;
    z-index: 2;
    display: flex;
    width: 64px;
    height: 64px;
    border-radius: 100%;
    padding: 2px;
  }
  &__link {
    transition: all $transitionTime ease-out;

    display: flex;
    justify-content: center;
    height: 100%;
    width: 100%;
    padding: 10px;
    border-radius: 0 0 16px 16px;

    &:hover {
      background-color: $white;
      // transform: translateY(3px);
      box-shadow: 0 0 10px 2px $L_black_25;
    }
  }
}

@media (min-width: $mobile) {
}
