.skills {
  background-color: $L_black_10;
  padding: $skillsPadding;
  width: 100%;
  display: grid;
  &__title {
    color: $sunrise;
    padding-block: 1rem;
    font-size: 3rem;
    text-align: center;
  }
  &__cards {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: $skillsGap;
    padding-block-end: 1rem;
    flex-flow: wrap;
  }
}
.skill {
  &__card {
    transition: ease $transitionTime;
    padding: 0.5rem;
    display: grid;
    grid-template-columns: 0.4fr 1fr;
    align-items: center;
    background-color: $L_black_25;
    color: $white;
    max-width: calc($mobile/2) - $skillsCardsPadding;
    width: 100%;
    border-radius: 1rem;

    &:hover {
      box-shadow: inset 0 0 3px 1px $L_black_25, 0 0 16px 1px $black;
      transform: translateY(-3px);
      h1 {
        transition: ease $transitionTime;
        color: $sunrise;
      }
      .skills__logo {
        transition: ease $transitionTime;

        box-shadow: inset 0 0 3px 0px $OP_white_60, 0 0 3px 0px $OP_black_60;
      }
    }
  }
  &__text {
    padding-inline-start: 1rem;
    h1 {
      margin-block-end: 0.35rem;
      font-size: 1.5rem;
    }
    p {
      color: $OP_white_60;
      padding-inline-start: 0.2rem;
      margin-block-end: 0.2rem;
    }
  }
  &__logo {
    background-color: $L_black_25;
    padding: 1rem;
    //75% du border-radius de ma "__skillCard"
    border-radius: 0.75rem;
    min-width: 50px;

    img {
      width: 100%;
    }
  }
}
