.skills {
  background-color: $darkGray;
  padding: $skillsPadding;
  width: 100%;
  display: grid;
  &__title {
    color: var(--sunrise);
    padding-block: 1rem;
    font-size: 3rem;
    text-align: center;
  }
  &__cards {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: $skillsGap;
    padding-block-end: 1rem;
    flex-flow: wrap;
  }
}
.skill {
  &__card {
    transition: ease var(--transitionTime);
    padding: 0.5rem;
    display: grid;
    grid-template-columns: 0.4fr 1fr;
    align-items: center;
    background-color: var(--lightGray);
    color: var(--white);
    max-width: calc($mobile/2) - $skillsCardsPadding;
    width: 100%;
    border-radius: 1rem;

    &:hover {
      box-shadow: inset 0 0 3px 1px var(--lighterGray), 0 0 16px 1px var(--black);
      transform: translateY(-3px);
      h1 {
        transition: ease var(--transitionTime);
        color: var(--sunrise);
      }
      .skills__logo {
        transition: ease var(--transitionTime);

        box-shadow: inset 0 0 3px 0px var(--white60op), 0 0 3px 0px var(--black60op);
      }
    }
  }
  &__text {
    padding-inline-start: 1rem;
    h1 {
      margin-block-end: 0.35rem;
      font-size: 1.5rem;
    }
    p {
      color: var(--white60op);
      padding-inline-start: 0.2rem;
      margin-block-end: 0.2rem;
    }
  }
  &__logo {
    background-color: var(--lighterGray);
    padding: 1rem;
    //75% du border-radius de ma "__skillCard"
    border-radius: 0.75rem;
    min-width: 50px;

    img {
      width: 100%;
    }
  }
}
